@page
@model CalmBreathe.Pages.AboutModel
@{
   
    ViewData["Title"] = "About";

        <h1>About</h1>

        <p> 
            A web guide and tool for living 
            in a fast paced and busy world. 
            
            This website was inspired by an idea to help people overcome their anxiety and PTSD Symptoms
        </p>
}
