@page
@model CalmBreathe.Pages.ResourcesModel
@{
        ViewData["Title"] = "Resources";

    <!doctype html> 

    <html lang="en">
    <head>
    </head>
    <body>
        <div class="text-center">
            
            <h1 class="display-4">Resources</h1>

            <div class="container">
                <div class="row"> 
                    <div class="col-sm">
                    <p><a href="https://www.gaiam.com/blogs/discover/meditation-101-techniques-benefits-and-a-beginner-s-how-to
"><img src="~/img/crosslegs.jpg"> <br /> Getting started with meditation</a></p></div>
                </div>

                <div class="col-sm">
                    <a href="https://www.calm.com/breathe"><img src="~/img/Breathe Easier with Calm.png" width="500" height="500" title="Deep Breathing exercise"></a>
                    <p><a href="https://www.calm.com/breathe">A visual guide to boxed breathing</a></p>
                </div>

            </div>

        </div>
    </body>

</html>

}
